.header{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 10px;
    background-color: #CEDF9F;
}
.logo{
    height: 90;
    padding: 5px;
}
.nav-items{
    margin-right: 50px;
}
.nav-items ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items ul li{
    margin: 20px;

}
.body{
    background-color: #CEDF9F;

    margin: 20px;
    border: 2px solid;
    border-radius: 5px;
}
.search{
    margin: 20px;
}
.res-cont{ 
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    background-color: #F1F3C2;
    border: 2px solid;
    border-radius: 5px; 
    padding: 10px;
    width:230px;
    text-align: center;
    margin: 5px;
    transition: all .2s ease-in-out;
}
.res-card:hover{
        transform: scale(1.1);
        cursor: pointer;
}
.k1{
    width: 170px;
}
body{
        background-color: #A1D6B2;
}
.filter{
    margin: 20px;
    padding: 05px;
}
.filter-btn {
    cursor: pointer;
}